{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container-fluid row" style="left: 0;top: 0;position: absolute;z-index: -1;">
    <div class="col-lg-6 pt-5 pb-5" style="background: #162B41;border-radius: 10px;left: -15px;">
        <h1 class="text-center pt-4" style="color: white;font-family: Montserrat-Medium;font-size: 100px;">Login</h1>
        <div class="container-fluid mt-4 mb-4">
            <img src="{% static "accounts/undraw_Login_re_4vu2 1.svg" %}" class="img-fluid" alt="login svg">
        </div>
    </div>
    <div class="col-lg-6 pt-5">
        <div class="container pt-5 px-5">
            <h2 class="text-center pb-3" style="font-family: Montserrat-Medium;font-size: 42px;">Ready to Login?</h2>
            <form  method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="" style="font-family: Montserrat-Medium;font-size:28px">USERNAME</label>
                    {% render_field form.identifier type="username" class="form-control" placeholder="Enter email" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;color: white"%}
                    <label class="pt-5" for="exampleInputPassword1" style="font-family: Montserrat-Medium;font-size:28px">PASSWORD</label>
                    {% render_field form.password type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;color: white" %}
                    <small class="form-text text-muted text-center" style="font-family: Montserrat-Medium;font-size: 18px;color: #0000EE"><a href="#">Forgot your password?</a></small>

                    <div class="text-center py-3">
                        <button type="submit" style="color: white;background-color: black;font-family: Montserrat-Medium;font-size: 28px;border-radius: 15px" class="btn px-5">Login</button>
                    </div>

                    <small class="form-text text-muted text-center" style="font-family: Montserrat-Medium;font-size: 18px;color: #0000EE"><a href="{% url "register" %}">Don’t have an account? Register now!</a></small>
                </div>
            </form>
                    <small class="form-text text-muted text-center" style="font-family: Montserrat-Medium;font-size: 18px;color: #0000EE">OR</small>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <a href="#" class="badge badge-light">
                         <div class="container border border-dark p-2 pb-3" style="border-radius: 15px">
                             <img class="img-fluid px-2 pb-1 pr-4 border-right border-dark" src="{% static "accounts/google-symbol 1.png" %}" alt="">
                            <h5 class="text-center float-right px-2 pr-4">Login with Google</h5>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-6 text-center">
                    <a href="#" class="badge badge-light">
                         <div class="container border border-dark p-2 pb-3" style="border-radius: 15px">
                             <img class="img-fluid px-2 pr-4 border-right border-dark" src="{% static "accounts/Vector.png" %}" alt="">
                            <h5 class="text-center float-right px-2 pr-2">Login with Facebook</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<form method="post">
    {#@ Tarun please put the login html in here, most prolly the same `base` #}
    {#template(used for login, register) can be extended here#}
</form>
