{% extends "accounts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    User-change password complete
{% endblock %}
{% block content %}
    <div class="container-fluid row" style="left: 0;top: 0;position: absolute;z-index: -1;height: 100%;width: 100%">
    <div class="col-lg-6 pt-5" style="background: #162B41;border-radius: 10px;left: -15px">
        <h1 class="text-center pt-5" style="color: white;font-family: Montserrat-Medium;font-size: 52px;">Forgot Your Password?</h1>
        <div class="container-fluid">
            <img src="{% static "accounts/undraw_forgot_password_gi2d 1.svg" %}" class="img-fluid" alt="login svg">
        </div>
    </div>
    <div class="col-lg-6 pt-5">
        <div class="container">
          <h5 class="text-center pt-5" style="font-family: Montserrat-Medium;font-size: 20px" > your password has been set.
              <br><a href="{% url 'login' %}">Sign In Here</a></h5>
            </div>
        </div>
    </div>

    {#@ Tarun please put the change password html in here, most prolly the same `base` #}
    {#template(used for change password) can be extended here#}

{% endblock %}





















<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {#@ Tarun please put the logout html in here, most prolly the same `base` #}
    {#template(used for password reset) can be extended here#}


</body>
</html>