{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container-fluid row" style="left: 0;top: 0;position: absolute;z-index: -1;height: 100%; width: 100%">
    <div class="col-lg-6 pt-5 pb-5 mb-0" style="background: #162B41;border-radius: 10px;left: -15px;height: 100%; width: 100%">
        <h1 class="text-center py-4" style="color: white;font-family: Montserrat-Medium;font-size: 100px;">Register</h1>
        <div class="container-fluid  px-5 py-4 mb-3">
            <img src="{% static "accounts/undraw_welcome_3gvl 1.svg" %}" class="img-fluid" alt="login svg">
        </div>
    </div>
    <div class="col-lg-6 pt-5">
        <div class="container pt-3 px-5 m-0">
            <h2 class="text-center " style="font-family: Montserrat-Medium;font-size: 40px;">Join us today, its free!</h2>
            <div class="container-fluid example" style="height: 500px;overflow: auto">
                <form action="" method="post">
                <div class="form-group">
                    {% csrf_token %}

                    <label class="pt-3" for="" style="font-family: Montserrat-Medium;font-size:24px">USERNAME</label>
                    {% render_field form.username type="username" class="form-control" placeholder="Enter Username" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;"%}

                    <label class="pt-3" for="" style="font-family: Montserrat-Medium;font-size:24px">FullName</label>
                    {% render_field form.fullname type="fullname" class="form-control" placeholder="Enter Fullname" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;" %}

                    <label class="pt-3" for="exampleInputEmail" style="font-family: Montserrat-Medium;font-size:24px">Email</label>
                    {% render_field form.email type="email" class="form-control" id="exampleInputEmail" placeholder="Enter Email" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;" %}

                     <label class="pt-3" for="phoneNo" style="font-family: Montserrat-Medium;font-size:24px">Phone no</label>
                    {% render_field form.phone_number class="form-control" id="phoneNo" placeholder="Enter Phoneno" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;"%}

                    <label class="pt-3" for="exampleInputPassword1" style="font-family: Montserrat-Medium;font-size:24px">Password</label>
                    {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;" %}

                    <label class="pt-3" for="exampleInputPassword2" style="font-family: Montserrat-Medium;font-size:24px">Confirm Password</label>
                    {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword2" placeholder="Enter Password" style="background-color: rgba(196,196,196, 0.5);font-family: Montserrat-Medium;"%}

                    <div class="text-center pt-3">
                        <button type="submit" style="color: white;background-color: black;font-family: Montserrat-Medium;font-size: 28px;border-radius: 15px" class="btn px-5">Register</button>
                    </div>
                </div>
            </form>
            </div>
            <small class="form-text text-center pt-3" style="font-family: Montserrat-Medium;font-size: 18px;color: #0000EE"><a href="{% url "login" %}">Have an account? Login instead</a></small>
            </div>
        </div>
    </div>
{% endblock %}
    {#@ Tarun please put the register html in here, most prolly the same `base` #}
    {#template(used for login, register) can be extended here#}
