{% extends "base.html" %}
{% load static %}
{% block title %}Dumbo{% endblock %}
{% block content %}
<div class="container mx-auto pt-5 pb-0" style="height: 100%; width: 100%">
    <div class="row pt-5 pb-0">
        <div class="col-lg-6" style="height: 100%; width: 100%">
            <h1 class="display-2" style="font-family: {% static "accounts/ Montserrat-Medium.ttf" %};">Welcome to Dumbo!</h1>
            <p class="lead pt-3 pb-2" style="font-family: {% static "accounts/ Montserrat-Medium.ttf" %};">A single place for all your documents.</p>
            <p class="lead pb-2" style="font-family: {% static "accounts/ Montserrat-Medium.ttf" %};">To know more, register for a free <br> <p class="lead">account right now.</p></p>
            <button type="button" style=" background-color: black;border-radius: 60px;" class="btn shadow-lg mt-5"><a style="text-decoration:none;font-family: {% static "accounts/ Montserrat-Medium.ttf" %};font-size: 22px; color: white;text-underline: none" class="text-light badge" href="{% url "register" %}">Register</a></button>
        </div>
         <div class="col-lg-5 pt-5 ml-5 pl-5 mt-4" style="height: 100%; width: 100%">
             <img class="img-fluid float-right"  src="{% static "accounts/undraw_my_files_swob.svg" %}" alt="a vector 1">
        </div>
    </div>
</div>
    <img src="{% static "accounts/Vector 1.png" %}" alt="" style="z-index: -3;width: 100%;position: fixed;top: 40%">

    {#@ Tarun the landing page should go in here (which extends the base template that'll be used for landing, about, contact)#}
{% endblock %}