{% extends 'documents/detailbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} {{ object.name }} {% endblock %}
{% block content %}
    <style>
    /* - FIX Datepicker -*/
.bootstrap-datetimepicker-widget.dropdown-menu  {
    width: 250px;
}
    </style>
    <div class="container-fluid row" style="padding-top: 80px">
        <div class="col-lg-5 pt-5" style="padding-left: 120px">
            <img class="img-fluid" style="height: 360px" src="{% static "accounts/Rectangle 52.png"%}" alt="">
            <div class="container pt-5 d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <h5 style="font-size: 20px">Date Added</h5>
                    <h6 class="ml-5 px-2 shadow-lg">{{ object.date_added.day }}</h6>
                    <h6 class="ml-2 px-2 shadow-lg">{{ object.date_added.month }}</h6>
                    <h6 class="ml-2 px-2 shadow-lg">{{ object.date_added.year }}</h6>
                </div>
            </div>
             <div class="container pt-3 d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                   <h5 style="font-size: 20px">Last Update</h5>
                    <h6 class="ml-5 px-2 shadow-lg">{{ object.last_updated.day }}</h6>
                    <h6 class="ml-2 px-2 shadow-lg">{{ object.last_updated.month }}</h6>
                    <h6 class="ml-2 px-2 shadow-lg">{{ object.last_updated.year }}</h6>
                </div>
            </div>
             <div class="container pt-3 d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <h5 style="font-size: 20px">Size</h5>
                    <h6 class="pl-5">{{ object.path.size }}kb</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-6  ml-0 py-5 pr-5" style="padding-left: 40px">
            <div class="d-flex justify-content-between align-items-center row pl-3">
                    <div class="d-flex justify-content-start ">
                        <i class="fa fa-3x fa-globe-americas"></i>
                        <h5 style="font-family: {% static "accounts/Montserrat-Medium.ttf" %};font-size: 30px;padding-left: 30px;">{{ object.name }}</h5>
                    </div>
                    {{ object.in_trash }}
                    <div class="d-flex justify-content-end">
                        <button form="update" class="btn px-5" type="submit" style="font-family: {% static "accounts/Montserrat-Medium.ttf" %};font-size: 20px;background-color: #162B41;color: white;border-radius: 20px">
                            Update
                        </button>
                        <form method="post" action="{% url 'toggle-trash' object.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                                <i style="padding-left: 25px" class="fas fa-2x fa-trash"></i>
{#                                This button is to toggle from trash#}
                            </button>
                        </form>
{#                    This functionality/button only appears when the document is already in trash#}
                        {% if object.in_trash %}
                            <form method="post" action="{% url 'delete-document' object.pk %}">
                                {% csrf_token %}
                                <button type="submit">
                                    <i style="padding-left: 25px" class="fas fa-2x fa-star"></i>
{#                                    This button is to delete the document permanantly#}
                                </button>
                            </form>
                        {% endif %}
                    </div>
               </div>
            <div class="row">
                <div class="col-lg-5 m-5 pb-0 border-right">
                        <form action="" id="update" method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between align-items-center row p-2">
                                <div class="d-flex justify-content-start form-check">
                                    {% render_field form.is_public class="form-check-input" type="checkbox"  %}
                                  <label class="form-check-label" for="defaultCheck1" style="font-family:{% static "accounts/Montserrat-Medium.ttf" %};font-size: 24px ">
                                    Make Public
                                  </label>
                                </div>
                                <div class="d-flex justify-content-end pr-5">
                                      <i class="fa fa-globe-americas"></i>
                                  </div>
                            </div>
                           <div class="d-flex justify-content-between align-items-center row p-2">
                                <div class="d-flex justify-content-start form-check">
                                    {% render_field form.is_important class="form-check-input" type="checkbox"  %}
                                  <label class="form-check-label" for="defaultCheck1" style="font-family:{% static "accounts/Montserrat-Medium.ttf" %};font-size: 24px ">
                                    Important
                                  </label>
                                </div>
                                <div class="d-flex justify-content-end pr-5">
                                      <i class="fas fa-star"></i>
                                  </div>
                            </div>
                             <div class="pt-5 d-flex justify-content-start">
                                <label>
                                    <span style="font-family: {% static "accounts/Montserrat-Medium.ttf" %};font-size: 20px">Auto Deletion Time</span><br>
                                    {% render_field form.expiry_date class="my-3" type="date"  %}
                                </label>
                            </div>
                        </form>
                    </div>
                <div class="col-lg-3 mt-5 pb-0">
                    <i class="fas fa-share-alt"></i>
                    <h5 style="float: right;font-family: {% static "accounts/Montserrat-Medium.ttf" %};font-size: 18px">Share a copy</h5>
                </div>
            </div>
            <div class="container">
                     <label class="form-inline" for="">
                         Tags
                       {% render_field form.tags form="update" class="pl-3" %}
                    </label>
            </div>
        </div>
    </div>

{% endblock content %}