{% extends 'documents/detailbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Trash{% endblock %}
{% block content %}
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

     <style>
        .column {
            text-align:center;
            float: left;
            width: 240px;
            background-color: #f2f2f2;
            border-radius: 5px;
        }

    </style>
    <style>
    @media screen and (max-width: 700px) {
        .column {
        width: 50%;
        display: inline-block;
            float: none;
        margin-bottom: 20px;
  }

        .up-row {
            overflow-y: hidden;
            overflow-x: scroll;
            white-space: nowrap;
        }
}
    </style>
    <div class="container-fluid pt-5 pb-0">
        <div class="container pt-5 pb-4 mb-3 ml-5">
                    <button class="btn float-left" style="background-color: #162B41;border-radius: 12px">
                    <h5 style="font-family: {% static "accounts/Montserrat-Medium.ttf" %};color: white">Trash</h5>
                </button>
            </div>
        <div class="container-fluid up-row example ml-4">
             {% for document in documents %}
                <div oncontextmenu="return false;" ondblclick="location.href='{% url "detail" document.id %}'" class="container column p-0 my-3 mx-4" >
                    <img src="{% static "accounts/imagecap.svg" %}" alt="" style="height: 150px;width: 100%;border-radius: 5px">
                    <div class="container-fluid m-0 p-0">
                            <div class="dropdown m-0 p-0">
                              <button class="btn btn-light m-0 p-0 dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="text-dark" style="text-decoration: none" href="{{ document.path.url }}" target="_blank">{{ document.name }}</a>
                              </button>
                              <div  class="py-3 shadow-lg dropdown-menu"  aria-labelledby="dropdownMenuButton" style="width: 240px">
                                    <a class="dropdown-item py-2 pr-5" href="{% url "toggle-trash" document.id %}"><i class="fas fa-trash-restore mr-2"></i>restore</a>
                                   <div class="dropdown-divider pr-5"></div>
                                    <a class="dropdown-item py-2 pr-5" href="{% url "delete-document" document.id %}"><i class="fas fa-trash mr-2"></i>Delete permanently</a>
                               </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}